/* #Hero{
  background: silver;
    height: calc(110vh - 7rem);
    width: 100%;
    max-width: 101.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
} */

/* .foto{
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 0;
    object-fit: cover;
    height: 700px;
    width: 500px;
} */

/* .heroContent {
    height: 50vh;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column; */
    /* align-items: flex-start; /* Penempatan elemen-elemen ke kiri */
    /* justify-content: center; */
  /* }  */

  /* .hello{
    font-size: 1.75rem;
    font-weight: 100;
  } */
  
  /* .introPara{
    font-size: medium;
    font-weight: 100;
  } */

  /* .hello, .introName, .introPara { */
    /*margin: 0; /* Menghilangkan margin bawaan */
   /* font-weight: 100; /* Font weight jika diperlukan */
  /* } */
  
  /* .introName { */
   /* color: palevioletred; /* Warna untuk .introName jika diperlukan */
  /* } */
  
  /* @media screen and (max-width : 840px) {
    .foto{
      right: -10vw;
    }
    .heroContent{
      font-size: 10vw;
    }
    .hello{
      font-size: 4.5vw;
    }
  } */